--extra-index-url https://download.pytorch.org/whl/cu118
conformer
deepspeed; sys_platform == 'linux'
diffusers
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
onnx
onnxruntime-gpu; sys_platform == 'linux'
onnxruntime; sys_platform == 'darwin' or sys_platform == 'windows'
openai-whisper
protobuf
pydantic
rich
soundfile
tensorboard
torch
torchaudio
uvicorn
wget
fastapi
fastapi-cli
WeTextProcessing
